.header {
  text-align: center;
  margin-top: 20px;
}
.pateintDetail {
  width: 1005;
  height: auto;
  border: 1px solid tomato;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  overflow: scroll;
}
.input-field {
  width: 30%;
  border-radius: 10px;
  margin-right: 20px;
  color: red;
}
.add-serach-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination {
  margin: auto;
}
